@{
    ViewData["Title"] = "Biblioteca";
}

<div class="row padding-cima-baixo" style="margin: 20px">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <img src="~/img/livros2.gif"/>
    </div>
    <div class="col-md-4"></div>
</div>