
@{
    ViewData["Title"] = "Cadastro de Editoras";
}
@model List<Biblioteca.Dominio.Editora>

<h2 class="padding-cima-baixo">@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-12">
        <br />
        <a class="btn btn-secondary padding-cima-baixo" role="button" href="/Produto/EditarEditora/0">Adicionar</a>
        <br />
        <br />
        <table id="dtbDados" class="table padding-cima-baixo">
            <thead>
                <tr>
                    <th class="text-center">
                        ID
                    </th>
                    <th class="text-center">
                        Nome
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @item.IdEditora
                        </td>
                        <td>
                            @item.Nome
                        </td>
                        <td>
                            <a href=@("/Produto/EditarEditora/" + item.IdEditora.ToString()) role="button" class="btn btn-success btn-sm">
                                <i class="glyphicon glyphicon-pencil"></i> Editar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>